*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body{
    font-family: sans-serif;
}

/*navbar*/

#navbar{
    display: flex;
    background-color: rgb(0,0,0,0.6);
    justify-content: center;
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

#navbar .navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#navbar .navbarcontainer .logo{
    height: 10px;
    width: 10px;
}

#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}
#navbar .navbar-container ul li{
    padding: 5px;
}
#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

/*ShowCase*/
#showcase{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: url('/imagens/showcase2.webp') center center/cover;
    background-color: rgb(0,0,0,0.4);
    background-blend-mode: color;
}
#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#showcase .showcase-container h2{
    font-size: 5rem;
}

#showcase .showcase-container p{
    margin: 10px 0px;
    font-size: 1.1rem;
}


.btn-primary{
    background: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

/*footer*/

#footer{
    background: black;
    color: white;
}

#footer .footer-content{
    display: flex;
    width: 60%;
    margin: auto;
}
#footer .footer-content .footer-menu{
    margin: 0px 20px;
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 30px;
    align-items: center;
}

#footer .footer-container  .logo{
    height: 5px;
    width: 10px;
    
}