*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{height: 100%;}

.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    background-color: black;
    overflow-x: hidden;
}

.sidebar-wraper{
    padding-bottom: 200px;
}

.sidebar-menu{
    margin: 20px 0;
    color: rgb(190,190,190);
}


.sidebar-logo img{
    max-width: 250px;
    width: 100%;
}


.sidebar-menu a{
    color: rgb(190,190,190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar-menu i{
    margin: 0 20px;
}

.sidebar-menu a.sidebar-menu-selecionado{
    color: rgb(0, 0, 0);
    background-color: rgb(221, 216, 216);
    border-radius: 5px;
}

.sidebar-menu-item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}


.sidebar-menu p.sideba